.logo-title {
    padding: 0px 10px;
    font-size: 18px;
    color: #555;
}

.fa-laravel, .fa-pgsql {
    background-size: contain;
    height: 20px;
    width: 20px;
}

.fa.fa-laravel {
    background: url(../img/icon/laravel.png);
}

.fa.fa-pgsql {
    background: url(../img/icon/pgsql.png);
}