html,
body,
.full-height {
  height: 100%;
}
.text-inverse {
  color: #999 !important;
}
.text-inverse:hover {
  color: #eee !important;
}
.nowrap {
  white-space: nowrap;
}
.no-decoration {
  text-decoration: none !important;
}
.bg-none {
  background: none;
}
.hover-sibling + .show-child {
  display: none;
}
.hover-sibling:hover + .show-child,
.hover-sibling + .show-child:hover {
  display: block;
}
.hover-parent .show-child {
  display: none;
}
.hover-parent:hover .show-child {
  display: block;
}
.absolute-thumb {
  overflow: hidden;
  height: 370px;
}
.absolute-thumb img {
  width: 100%;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.border-default {
  border: solid 1px #eee;
}
.description {
  font-size: 11px;
  color: #aaa;
  line-height: 15px;
}
ul {
  padding-left: 20px;
  margin: 0px;
}
li {
  list-style: none;
}
a {
  color: #333;
}
a:hover,
a:focus {
  color: #de0c00;
  text-decoration: none;
}
.right-wrapper .breadcrumbs {
  padding: 0px 20px;
}
/** Your code goes here */
